$sliderTrackBg: rgb(57, 56, 56);
$sliderRangeBg: rgb(0, 0, 0);

.slider {
  position: relative;
  width: 95%;
}

.priceRangeContainer {
  width: 200px;
  padding-right: 10px;
}

.sliderTrack,
.sliderRange {
  border-radius: 3px;
  height: 0.1px;
  position: absolute;
}

.sliderTrack {
  background-color: $sliderTrackBg;
  width: 100%;
  z-index: 1;
}

.sliderRange {
  background-color: $sliderRangeBg;
  z-index: 2;
}

/* Removing the default appearance */
.rangeInputBar,
.rangeInputBar::-webkit-slider-thumb {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}

.rangeInputBar {
  pointer-events: none;
  position: absolute;
  height: 0;
  width: 200px;
}

.rangeInputBarIndex3 {
  z-index: 3;
}

.rangeInputBarIndex4 {
  z-index: 4;
}

/* For Chrome browsers */
.rangeInputBar::-webkit-slider-thumb {
  border: 1px solid black;
  border-radius: 50%;
  box-shadow: 0 0 1px 1px rgb(206, 212, 218);
  cursor: pointer;
  height: 15px;
  width: 15px;
  pointer-events: all;
  position: relative;
}

.price,
span {
  margin-bottom: 15px;
}

.tooltips {
  position: relative;
  display: flex;
  justify-content: space-between;
}
.tooltips {
  padding: 5px 10px;
  z-index: 1;
}
