$sliderTrackBg: rgb(57, 56, 56);
$sliderRangeBg: rgb(0, 0, 0);

.slider {
  position: relative;
  width: 95%;
}

.priceRangeContainer {
  height: 5vh;
}

.sliderTrack,
.sliderRange {
  border-radius: 3px;
  height: 0.1px;
  position: absolute;
}

.sliderTrack {
  background-color: $sliderTrackBg;
  width: 100%;
  z-index: 1;
}

.sliderRange {
  background-color: $sliderRangeBg;
  z-index: 2;
}

/* Removing the default appearance */
.thumb,
.thumb::-webkit-slider-thumb {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}

.thumb {
  pointer-events: none;
  position: absolute;
  height: 0;
  width: 200px;
}

.thumbZindex3 {
  z-index: 3;
}

.thumbZindex4 {
  z-index: 4;
}

/* For Chrome browsers */
.thumb::-webkit-slider-thumb {
  border: 1px solid black;
  border-radius: 50%;
  box-shadow: 0 0 1px 1px rgb(206, 212, 218);
  cursor: pointer;
  height: 15px;
  width: 15px;
  pointer-events: all;
  position: relative;
}

.price,
span {
  margin-bottom: 15px;
}
