@media screen and (min-width: 1200px) {
  .cardsContainer,
  .userPreCardsContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    grid-auto-rows: maxmax(200px, auto);
  }

  .featureCardsContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    grid-auto-rows: maxmax(200px, auto);
  }
}

@media screen and (max-width: 1200px) {
  .cardsContainer,
  .userPreCardsContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    grid-auto-rows: maxmax(200px, auto);
  }

  .featureCardsContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    grid-auto-rows: maxmax(200px, auto);
  }
}

@media screen and (max-width: 900px) {
  .cardsContainer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    grid-auto-rows: maxmax(200px, auto);
  }

  .featureCardsContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    grid-auto-rows: minmax(200px, auto);
  }

  .banner .text {
    left: 20%;
    top: 35%;
  }

  .banner .title {
    line-height: 3rem;
    font-size: 2.5rem;
  }

  .userPreCardsContainer {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    grid-auto-rows: maxmax(200px, auto);
  }

  .actionContainer {
    display: none;
  }

  .contentContainer {
    width: 100%;
    margin: auto;
  }

}

/* 600: navbar and footer */
@media screen and (max-width: 600px) {
  .footerContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
  }
  .footerContainer .footer {
    display: block;
    text-align: center;
  }

  .symbols {
    display: flex;
    align-content: center;
    justify-content: center;
  }
}
